/* FormattedText.css */
.TextoFormatado {
    max-width: 1100px;
    margin: auto;
  }
  
  .TextoFormatado h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .TextoFormatado p {
    font-size: 1.2em;
    line-height: 1.22;
    white-space: pre-line; /* Preserve os espaços e quebras de linha do texto */
    margin-bottom: 3%;
  }
  
  .TextoFormatado a {
    color: blue;
    text-decoration: underline;
    
  }
  