.HeaderC{
    width: 100vw;
    height: 132px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(228, 228, 228, 0.486);
    background-color: white;
    align-items: center;
    text-align: center;
    
}

.logo-image{
    width: 120px;
    height: 80px;
    margin-left: 2%;
    margin-right: 5%;
}
.linkedin{
    margin-left: 5%;
    margin-right: 2%;
}

.LinkedinText{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #009ced;
    border: 2px solid #009ced;
    border-radius: 10px;
    padding: 17px 38px;
    cursor: pointer;
    transition: color 0.6s ease, background-color 0.6s ease, transform 0.6s ease;
}

.LinkedinText:hover{
    background-color: #009ced;
    color: white;
    transform: scale(1.05);
}


.ContentHeader{
    display: flex;
    margin-left: 25%;
}
.Nomes{
    width: 100%;
    display: flex;
    justify-content: space-between;

    
}

.HeaderC h1{
    cursor: pointer;
    color: rgb(10,10,10);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.HeaderC h1:hover{
    color:rgb(0, 156, 237);
    transform: scale(1.05);
    
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10; /* Adicionado para garantir que o container tenha um z-index mais alto */
}

.dropdown-content {
    font-family: 'Poppins', sans-serif;
    display: block;
    position: absolute;
    background-color: #007bff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 9999; /* Valor alto para garantir que o dropdown fique acima de outros elementos */
}

.dropdown-content a {
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0056b3;
}
